node_modules/
.vs/
settings.json
createdChannels.json
emojis.json
debug.log
.DS_Store
ml/save/
ml/models/
build/
dist/
cache/
schemas/*
!schemas/!init-schemas.sql
compose-personal.yaml
personal.yaml
configuration.ts
google-vision.json